<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<!--this is the add links-->
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" name="bane"/>
            <div th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label th:for="employerId">Employer</label>
            <select th:field="*{employerId}" name="employerId">
                <option th:each="employer : *{employers}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>
        <!-- TODO #5 X - Create <select> dropdowns for other job fields -->
        <!--There may need to be more here. WOnt know until I get handelr working-->
        <div class="form-group">
        <label th:for="locationId">Location</label>
        <select id="locationId" name="locationId">
            <option th:each="employer : *{locations}"
                    th:value="${employer.id}"
                    th:text="${employer.value}"></option>
        </select>
    </div>
        <div class="form-group">
            <label th:for="coreCompetencyId">Skill</label>
            <select id="coreCompetencyId" name="coreCompetencyId">
                <option th:each="employer : *{coreCompetencies}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="employerId">Position Type</label>
            <select id="positionTypeId" name="positionTypeId">
                <option th:each="employer : *{positionTypes}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>

        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>